*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}
body{
    max-width: 1000px;
    margin: auto;
}
.title{
    color: rgb(229,49,112);
    text-align: center;
    margin-top: 2em;
}
p{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}
.card{
    color: white;
    background-color: rgb(15,14,23);
    width:20vw;
    float: left;
    margin:5px;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;

}
img{
    float: left;
    width: 100px;
}
.info{
    margin-left: 120px;
}
h2,section,a{
    height: 30px;
}
section{
    font-size: small;
    margin-top: 1em;
}
a{
    color: #17CCF2;
    text-decoration: none;
    font-size: smaller;
}